.timeline-selector {
    display: flex;
    align-items: center;
}

.timeline-selector label {
    margin-right: 8px;
}

.timeline-selector select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}
